<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1> {{hero.name}} </h1>
  <h2> {{title2}} </h2>

  <input [(ngModel)]="hero.name" placeholder="name">
  <button type="button" (click)="onClick()">Click Me!</button>

  <h2>My Heroes</h2>
<ul class="heroes">
 <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
   <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
</div>


